@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&family=Roboto:wght@300;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(63, 69, 238);
    background: linear-gradient(110deg, rgba(63, 69, 238, 1) 0%, rgba(122, 9, 186, 1) 50%, rgba(67, 1, 128, 1) 100%);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 .6em black;
    padding: 10px;
    width: 400px;
    margin: auto;
    margin-top: 220px;
}

input {
    margin: 5px;
}